body {
    margin: 0;
}

canvas {
    position:absolute;

}

/* The map and palette are set off screen so they will not be rendered - performance*/ 
/* Set the threejs canvas, google map and palette all the same height width*/
.off-screen {
  position: absolute !important;
  top : -9999px !important;
  left : -9999px !important;
  width : 200px !important;
  height : 200px !important;
}
.ui-accordion .ui-accordion-content {
  padding:1em 1em;
  margin-top:5px;
}
#interface{
  border:0;
  padding:0;
  max-width: 100%;
  display:block;
  position:relative;
}

#interface:first-child{

}
/*#interface:last-child{
  justify-content:flex-end;
}*/
#object-attribute-view{
  float : right;
  color : white !important;
  width:300px;
}

.ui-tabs .ui-tabs-panel {
  background-color:white;
  height:100%;
}

.padding5 {
  padding:5px;
}

.list-style-none {
  list-style-type : none;
}

.compass {
  height : 8%;
}

.attribute-list{
  padding-left:3px;
  border:0px;
  margin:10;
}

button{
    height:60px;
    width:110px;
    border:0px outset;
}

.button-outline{
    border:4px solid;
}


